o {
    font-size: 90%; /* ტექსტის ზომა */
    font-weight: 900; /*ქეტსტი გახდეს მუქი*/
}

p {
    font-size: 70%; 
}

td {
    border-radius: 3px; /* უჯრის მომრგვალება */  
    border-left: 3px; /*ტექსტის მარცნიდან დაშორება*/
    padding: 12px 15px 3px 10px; /*ზომები: ზემოთ, მარჯვენა, ქვემოთ, მარცხება*/
}

.blue {
    background-color: rgb(131, 219, 235); /* ამ კლასის ელემენტში ფერის ჩასხმა*/
}

.pink.foto {
    background-color: rgb(248, 168, 136);
    text-align: center; /*ტექსტი იყოს ცენტრში*/
    width: 170px; /*სიგარე*/
}

.pink a img { /*pink კლასში, a ელემენტის სურათი*/
    width: 40px;
}

.pink.six{
    background-color: rgb(248, 168, 136);
    width: 130px;
}

.cisferi.seven{
    width: 170px;
}

.brown {
    background-color: rgb(243, 184, 96);
}

.cisferi {
    background-color: rgb(201, 240, 247);
}

.muqiCisferi {
    background-color: rgb(148, 201, 218);
}

.green {
    background-color: rgb(158, 206, 166);
    width: 140px;
}

.time00 {
    font-weight: 900; /*ფონტის სიგანე*/
}

.time30 {
    color: rgb(202, 207, 211); /* ტექსტის ფერის შეცვლა*/
}

.time00, .time30 {
    border-top: 2px dotted #ccc; /*უჯრის ზედა ხაზი რომ იყოს წყვეტილი*/
    width: 70px; /* უჯრის სიგანე*/
    text-align: center; /*ტექსტის ცენტრში გადატანა*/
}

.erti {
    line-height: 1.5mm; /*ერთცალიანი უჯრის სიმაღლე*/
}

